{% extends '::base.html.twig' %}

{% block theme 'page-header-fixed page-sidebar-closed-hide-logo page-content-white' %}

    {% block stylesheets %}
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/backend/global/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/backend/global/plugins/simple-line-icons/simple-line-icons.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/backend/global/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/backend/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css') }}" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="{{ asset('assets/backend/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/backend/global/css/components.min.css') }}" rel="stylesheet" id="style_components" type="text/css" />
        <link href="{{ asset('assets/backend/global/css/plugins.min.css') }}" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN THEME LAYOUT STYLES -->
        <link href="{{ asset('assets/backend/layouts/layout/css/layout.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/backend/layouts/layout/css/themes/darkblue.min.css') }}" rel="stylesheet" type="text/css" id="style_color" />
        <link href="{{ asset('assets/backend/layouts/layout/css/custom.css') }}" rel="stylesheet" type="text/css" />
        <!-- END THEME LAYOUT STYLES -->
        <!-- BEGIN CORE PLUGINS -->
        <script src="{{ asset('assets/backend/global/plugins/jquery.min.js') }}" type="text/javascript"></script>
        <!-- END CORE PLUGINS -->
    {% endblock %}

    {% block body %}
        <div class="page-wrapper">
            {% include 'AppBundle::Shared/header.html.twig' %}
            <!-- BEGIN HEADER & CONTENT DIVIDER -->
            <div class="clearfix"> </div>
            <!-- END HEADER & CONTENT DIVIDER -->
            <!-- BEGIN CONTAINER -->
            <div class="page-container">
                {% include 'AppBundle::Shared/sidebar.html.twig' %}
                <div class="page-content-wrapper">
                    <!-- BEGIN CONTENT BODY -->
                    <div class="page-content">
                    {% block content %}{% endblock %}
                </div>
                <!-- END CONTENT BODY -->
            </div>
        </div>
        {% include 'AppBundle::Shared/footer.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    <!--[if lt IE 9]>
<script src="{{ asset('assets/backend/global/plugins/respond.min.js') }}"></script>
<script src="{{ asset('assets/backend/global/plugins/excanvas.min.js') }}"></script>
<script src="{{ asset('assets/backend/global/plugins/ie8.fix.min.js') }}"></script>
<![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    <script src="{{ asset('assets/backend/global/plugins/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/backend/global/plugins/js.cookie.min.js') }}" type="text/javascript"></script>

    <script src="{{ asset('assets/backend/global/scripts/datatable.min.js') }}"></script>
    <script src="{{ asset('assets/backend/global/plugins/datatables/datatables.min.js') }}"></script>
    <script src="{{ asset('assets/backend/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js') }}"></script>
    <script src="{{ asset('assets/backend/global/scripts/table-datatables-managed.js') }}"></script>

    <script src="{{ asset('assets/backend/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/backend/global/plugins/jquery.blockui.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/backend/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/backend/holder.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/assets/backend/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js') }}" type="text/javascript"></script>

    <!-- END CORE PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="{{ asset('assets/backend/global/scripts/app.min.js') }}" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="{{ asset('assets/backend/layouts/layout/scripts/layout.min.js') }}" type="text/javascript"></script>
    <!-- END THEME LAYOUT SCRIPTS -->
    <!-- BEGIN AUTHOR SCRIPTS -->
    <script src="{{ asset('assets/backend/global/scripts/main.js') }}" type="text/javascript"></script>
    <!-- END AUTHOR SCRIPTS -->
{% endblock %}