@import url('https://fonts.googleapis.com/css?family=Cinzel');

body {
    font-family: 'Cinzel', serif;
    font-weight: 800;
}

/*Select House*/
#selectHouse {
    position: relative;
    margin: 0;
    height: 100%;
}

#selectHouse .header {
    padding-top: 20px;
    text-align: center;
}

#selectHouse .header h1 {
    margin: 0;
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 800;
}

#selectHouse .nextStep {
    text-align: center;
    margin-top: 30px;
}

#selectHouse .owl-carousel .owl-item img {
    margin: 0 auto;
    padding: 25px;
    height: 300px;
    width: auto;
}

button.primary, a.primary {
    color: white;
    background: #a18d82;
    text-decoration: none;
    padding: 15px 30px;
    text-transform: uppercase;
    font-size: 20px;
    border: none;
}

button.primary:hover, a.primary:hover {
    background-color: #957869;
}

.footer {
    position: absolute;
    bottom: 0;
    margin: 0 50px;
    width: 80%;
    padding-bottom: 5px;
}

.footer .item {
    float: right;
    width: 100%;
    text-align: right;
    margin-bottom: 5px;
}

.footer .item img {
    height: 15px;
}

.owl-carousel {
    position: relative;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    margin-top: -10px;
/ / Half of the prev / next buttons height here in negatives to center them perfectly
}

.owl-prev {
    left: 0;
}

.owl-next {
    right: 0;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
    color: white;
    font-size: 45px !important;
    background: none !important;
    padding: 0 10px;
}

.owl-theme .owl-controls .owl-page {
    display: inline-block;
}

.owl-theme .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}

.owl-theme .owl-dots .owl-dot span {
    opacity: .7;
    width: 12px;
    height: 12px;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    opacity: 1;
    background-color: #a98f80;
}

/*Take picture*/
#takePicture {
    position: relative;
    margin: 0;
    height: 100%;
}

#takePicture .flag img {
    width: 80%;
    margin: 0 auto;
    display: block;
}

#takePicture .header {
    padding-top: 20px;
    text-align: center;
}

#takePicture .header h1 {
    margin: 0;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 800;
    line-height: 35px;
}

#takePicture .nextStep {
    text-align: center;
    margin-top: 70px;
}

#takePicture .nextStep .submitPicture {
    color: white;
    background: #a18d82;
    text-decoration: none;
    padding: 15px 30px;
    text-transform: uppercase;
    font-size: 20px;
    border: none;
}

#takePicture .nextStep .submitPicture:hover {
    background-color: #957869;
}

/*Save picture*/
#savePicture {
    position: relative;
    width: 100%;
    height: 100%;
}

#savePicture .buttons .item {
    width: 50%;
    float: left;
    text-align: center;
}

#savePicture .buttons .item button,
#savePicture .buttons .item a {
    font-size: 15px;
    padding: 10px 0;
    width: 80%;
    display: block;
    margin: 0 auto;
}

.footer .copy {
    color: white;
    font-size: 10px;
    text-align: right;
}

.headLogos {
    padding: 10px;
}

.headLogos img {
    height: 15px;
    padding: 0 10px;
}

#takePicture .headLogos {
    background: black;
}

.clearer {
    clear: both;
}

.enrollment .header h1 {
    padding-top: 70px;
    margin: 0;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    line-height: 30px;
    text-align: center;
}

.enrollment form {
    margin-top: 20px;
}

.enrollment .form-group label {
    color: white;
    font-size: 17px;
}

.enrollment form label small {
    font-weight: normal;
}

#floating-label input{
    background: none;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid saddlebrown;
    color: white;
}

#floating-label .form-group {
    display: flex;
    height: 55px;
}

#floating-label .control-label {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.4;
    pointer-events: none;
    position: absolute;
    transform: translate3d(6px, 22px, 0) scale(1);
    transform-origin: left top;
    transition: 240ms;
}

#floating-label .form-group.focused .control-label {
    opacity: 1;
    transform: scale(0.75);
}

#floating-label .form-control {
    align-self: flex-end;
}

#floating-label .form-control::-webkit-input-placeholder {
    color: transparent;
    transition: 240ms;
}

#floating-label .form-control:focus::-webkit-input-placeholder {
    transition: none;
}

#floating-label .form-group.focused .form-control::-webkit-input-placeholder {
    color: #bbb;
}

/*** RESPONSIVE ***/

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1920px) {
    /*.houseSlider{*/
    /*padding-bottom: 35px;*/
    /*}*/
}

@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

}