{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                {{ error.message }}
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}