{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} Login{% endblock %}
{% block theme 'login' %}

    {% block stylesheets %}
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/backend/global/plugins/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/backend/global/plugins/simple-line-icons/simple-line-icons.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/backend/global/plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/backend/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css') }}" rel="stylesheet" type="text/css" />
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN THEME GLOBAL STYLES -->
        <link href="{{ asset('assets/backend/global/css/components.min.css') }}" rel="stylesheet" id="style_components" type="text/css" />
        <link href="{{ asset('assets/backend/global/css/plugins.min.css') }}" rel="stylesheet" type="text/css" />
        <!-- END THEME GLOBAL STYLES -->
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="{{ asset('assets/backend/pages/css/login-2.min.css') }}" rel="stylesheet" type="text/css" />
        <!-- END PAGE LEVEL STYLES -->
        <!-- BEGIN AUTHOR STYLES -->
        <link href="{{ asset('assets/backend/layouts/layout/css/custom.css') }}" rel="stylesheet" type="text/css" />
        <!-- END AUTHOR STYLES -->
    {% endblock %}

    {% block body %}
        <!-- BEGIN LOGO -->
        <div class="logo">
            <a href="{{ path('dashboard_index') }}">
                <img src="{{ asset('assets/backend/layouts/layout/img/logo-big.png' ) }}" alt="" />
            </a>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN LOGIN -->
        <div class="content">
            <!-- BEGIN LOGIN FORM -->
            <form class="login-form" action="{{ path("fos_user_security_check") }}" method="post">
                <div class="form-title text-center">
                    <span class="form-title">Login page</span>
                </div>
                {% if error %}
                    <div class="alert alert-danger">
                        <button class="close" data-close="alert"></button>
                        <span>{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                    </div>
                {% endif %}
                <div class="form-group">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    <label class="control-label visible-ie8 visible-ie9">Username</label>
                    <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="_username" value="{{ last_username }}" required="required" />
                </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Password</label>
                    <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="_password" required="required" />
                </div>
                <div class="form-actions">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    <button type="submit" class="btn red btn-block uppercase">Login</button>
                </div>
                <div class="form-actions">
                    <div class="pull-left">
                        <label class="rememberme mt-checkbox mt-checkbox-outline">
                            <input type="checkbox" name="_remember_me" value="on" /> Remember me
                            <span></span>
                        </label>
                    </div>
                    <div class="pull-right forget-password-block">
                        {#<a href="#" id="forget-password" class="forget-password">Forgot Password?</a>#}
                    </div>
                </div>
            </form>
            <!-- END LOGIN FORM -->
        {% endblock %}

        {% block javascripts %}
            <!--[if lt IE 9]>
        <script src="{{ asset('assets/backend/global/plugins/respond.min.js') }}"></script>
        <script src="{{ asset('assets/backend/global/plugins/excanvas.min.js') }}"></script>
        <script src="{{ asset('assets/backend/global/plugins/ie8.fix.min.js') }}"></script>
        <![endif]-->
            <!-- BEGIN CORE PLUGINS -->
            <script src="{{ asset('assets/backend/global/plugins/jquery.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('assets/backend/global/plugins/bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('assets/backend/global/plugins/js.cookie.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('assets/backend/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('assets/backend/global/plugins/jquery.blockui.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('assets/backend/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js') }}" type="text/javascript"></script>
            <!-- END CORE PLUGINS -->
            <!-- BEGIN PAGE LEVEL PLUGINS -->
            <script src="{{ asset('assets/backend/global/plugins/jquery-validation/js/jquery.validate.min.js') }}" type="text/javascript"></script>
            <script src="{{ asset('assets/backend/global/plugins/jquery-validation/js/additional-methods.min.js') }}" type="text/javascript"></script>
            <!-- END PAGE LEVEL PLUGINS -->
            <!-- BEGIN THEME GLOBAL SCRIPTS -->
            <script src="{{ asset('assets/backend/global/scripts/app.min.js') }}" type="text/javascript"></script>
            <!-- END THEME GLOBAL SCRIPTS -->
        {% endblock %}