{% extends 'AppBundle::layout_dashboard.html.twig' %}

{% block title %}{{ parent() }} Inregistrari{% endblock %}

{% block content %}
    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="{{ path('dashboard_index') }}">Dashboard</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Inregistrari</span>
            </li>
        </ul>
    </div>
    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE -->
    <h1 class="page-title">Inregistrari</h1>
    <!-- END PAGE TITLE -->
    {% include 'AppBundle::Shared/alerts.html.twig' %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover dt-responsive" width="100%"
                           id="enrollmentsTable">
                        <thead>
                            <th class="all" align="center">ID</th>
                            <th class="all" align="center">Imagine</th>
                            <th class="all" align="center">Casa</th>
                            <th class="all" align="center">Nume</th>
                            <th class="all" align="center">Email</th>
                            <th class="all" align="center">Telefon</th>
                            <th class="all" align="center">Data inregistrare</th>
                        </thead>
                        <tbody>
                        {% for key, enrollment in enrollments %}
                            <tr>
                                <td align="center">{{ enrollment.id }}</td>
                                <td align="center">
                                    <a href="{{ vich_uploader_asset(enrollment, 'picture') }}" target="_blank">
                                        <img style="height: 100px;" src="{{ vich_uploader_asset(enrollment, 'picture') }}"/>
                                    </a>
                                </td>
                                <td align="center">{{ enrollment.house.title }}</td>
                                <td align="center">{{ enrollment.lastName }} {{ enrollment.firstName }}</td>
                                <td align="center">{{ enrollment.email }}</td>
                                <td align="center">{{ enrollment.phone }}</td>
                                <td align="center">{{ enrollment.createdAt|date }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}