{% extends 'AppBundle::layout_dashboard.html.twig' %}

{% block title %}{{ parent() }} Dashboard{% endblock %}

{% block content %}
    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="{{ path('dashboard_index') }}">Dashboard</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Panou de control</span>
            </li>
        </ul>
        <div class="page-toolbar">
            <div class="pull-right">
                <i class="icon-calendar"></i>&nbsp;
                <span class="thin hidden-xs">Last login: {{ app.user.lastLogin|date('d-m-Y H:i') }}</span>&nbsp;
            </div>
        </div>
    </div>
    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE -->
    <h1 class="page-title">SAMSUNG</h1>
    <!-- END PAGE TITLE -->
    {% include 'AppBundle::Shared/alerts.html.twig' %}
{% endblock %}