{% set route = app.request.attributes.get('_route') %}
<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
            <li class="sidebar-toggler-wrapper hide">
                <div class="sidebar-toggler">
                    <span></span>
                </div>
            </li>
            <!-- END SIDEBAR TOGGLER BUTTON -->
            <li class="nav-item {% if route == 'dashboard_inscrieri' %}active{% endif %}">
                <a href="{{ path('dashboard_inscrieri') }}">
                    <i class="fa fa-list-alt" aria-hidden="true"></i>
                    <span class="title">Enrollments</span>
                </a>
            </li>
            <li class="nav-item {% if route == 'house_index' %}active{% endif %}">
                <a href="{{ path('house_index') }}">
                    <i class="icon-home"></i>
                    <span class="title">Houses</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('dashboard_clear_cache') }}">
                    <i class="icon-settings"></i>
                    <span class="title">Clear cache</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{{ path('fos_user_security_logout') }}">
                    <i class="icon-logout"></i>
                    <span class="title">Log out</span>
                </a>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
    <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->
