{% extends 'AppBundle::layout_dashboard.html.twig' %}

{% block title %}{{ parent() }} Case{% endblock %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="{{ path('dashboard_index') }}">Dashboard</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Editeaza casa</span>
            </li>
        </ul>
    </div>
    <h1 class="page-title">Editare casa "{{ house.title }}"</h1>

    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    {{ form_start(delete_form, { attr: { 'class': 'text-right' } }) }}
                    <a class="btn btn-primary" href="{{ path('house_index') }}" style="float:left;">Back to the list</a>
                    <input class="btn btn-danger" type="submit" value="Delete">
                    {{ form_end(delete_form) }}
                </div>
                <div class="portlet-body">
                    <form action="" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="">Nume</label>
                            {{ form_widget(edit_form.title) }}
                        </div>
                        <div style="margin-bottom: 0 !important;"
                             class="form-group form-md-line-input form-md-floating-label">
                            <div>
                                <label for="appbundle_project_image_file" class="">Imagine reprezentativa</label>
                            </div>
                            <div class="fileinput {% if  vich_uploader_asset(house, 'picture') %}fileinput-exists{% else %}fileinput-new{% endif %}"
                                 data-provides="fileinput">
                                <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                    <img data-src="holder.js/100%x100%" alt="...">
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail"
                                     style="max-width: 200px; max-height: 150px;">
                                    {% if  vich_uploader_asset(house, 'picture') %}
                                        <img src="{{ vich_uploader_asset(house, 'picture') }}">
                                    {% endif %}
                                </div>
                                <div>
                                <span class="btn btn-default btn-file">
                                    <span class="fileinput-new">Select image</span>
                                    <span class="fileinput-exists">Change</span>
                                    {{ form_widget(edit_form.picture.file) }}
                                </span>
                                    {% if  vich_uploader_asset(house, 'picture') %}
                                        <div class="mt-checkbox-inline">
                                            <label class="mt-checkbox">
                                                {{ form_widget(edit_form.picture.delete) }} Stergere imagine
                                                <span></span>
                                            </label>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div style="margin-bottom: 0 !important;"
                             class="form-group form-md-line-input form-md-floating-label">
                            <div>
                                <label for="appbundle_project_image_file" class="">Steag casa</label>
                            </div>
                            <div class="fileinput {% if  vich_uploader_asset(house, 'flag') %}fileinput-exists{% else %}fileinput-new{% endif %}"
                                 data-provides="fileinput">
                                <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                    <img data-src="holder.js/100%x100%" alt="...">
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail"
                                     style="max-width: 200px; max-height: 150px;">
                                    {% if  vich_uploader_asset(house, 'flag') %}
                                        <img src="{{ vich_uploader_asset(house, 'flag') }}">
                                    {% endif %}
                                </div>
                                <div>
                                <span class="btn btn-default btn-file">
                                    <span class="fileinput-new">Select image</span>
                                    <span class="fileinput-exists">Change</span>
                                    {{ form_widget(edit_form.flag.file) }}
                                </span>
                                    {% if  vich_uploader_asset(house, 'flag') %}
                                        <div class="mt-checkbox-inline">
                                            <label class="mt-checkbox">
                                                {{ form_widget(edit_form.flag.delete) }} Stergere imagine
                                                <span></span>
                                            </label>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div style="margin-bottom: 0 !important;"
                             class="form-group form-md-line-input form-md-floating-label">
                            <div>
                                <label for="appbundle_project_image_file" class="">Ramă telefon</label>
                            </div>
                            <div class="fileinput {% if  vich_uploader_asset(house, 'frame') %}fileinput-exists{% else %}fileinput-new{% endif %}"
                                 data-provides="fileinput">
                                <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                    <img data-src="holder.js/100%x100%" alt="...">
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail"
                                     style="max-width: 200px; max-height: 150px;">
                                    {% if  vich_uploader_asset(house, 'frame') %}
                                        <img src="{{ vich_uploader_asset(house, 'frame') }}">
                                    {% endif %}
                                </div>
                                <div>
                                <span class="btn btn-default btn-file">
                                    <span class="fileinput-new">Select image</span>
                                    <span class="fileinput-exists">Change</span>
                                    {{ form_widget(edit_form.frame.file) }}
                                </span>
                                    {% if  vich_uploader_asset(house, 'frame') %}
                                        <div class="mt-checkbox-inline">
                                            <label class="mt-checkbox">
                                                {{ form_widget(edit_form.frame.delete) }} Stergere imagine
                                                <span></span>
                                            </label>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {{ form_widget(edit_form._token) }}
                        <input class="btn btn-success" type="submit" value="Salveaza"/>
                    </form>


                </div>
            </div>
        </div>
    </div>


{% endblock %}
