{% extends 'AppBundle::layout_dashboard.html.twig' %}

{% block title %}{{ parent() }} Case{% endblock %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="{{ path('dashboard_index') }}">Dashboard</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Case</span>
            </li>
        </ul>
    </div>
    <h1 class="page-title">Case</h1>
    <div class="row">
        <div class="col-xs-12">
            <div class="portlet">
                <div class="portlet-title">
                    <a class="btn btn-success" href="{{ path('house_new') }}">Adauga casa</a>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover dt-responsive" width="100%"
                           id="housesTable">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th width="5%">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for house in houses %}
                            <tr>
                                <td>{{ house.title }}</td>
                                <td>
                                    <a href="{{ path('house_edit', { 'id': house.id }) }}" class="btn btn-primary">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
