{% extends 'AppBundle::layout_dashboard.html.twig' %}

{% block title %}{{ parent() }} Case{% endblock %}

{% block content %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="{{ path('dashboard_index') }}">Dashboard</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>Adaugare casa</span>
            </li>
        </ul>
    </div>
    <h1 class="page-title">Adauga o casa noua</h1>

    <form action="" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="">Nume</label>
            {{ form_widget(form.title) }}
        </div>
        <div class="form-group form-md-line-input form-md-floating-label">
            <div>
                <label for="appbundle_house_image_file">Logo casa</label>
            </div>
            <div class="fileinput fileinput-new" data-provides="fileinput">
                <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                    <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt=""/>
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail"
                     style="max-width: 200px; max-height: 150px;">
                </div>
                <div>
                                <span class="btn btn-default btn-file">
                                    <span class="fileinput-new">Selectare imagine</span>
                                    <span class="fileinput-exists">Schimba</span>
                                    {{ form_widget(form.picture.file) }}
                                </span>
                    <a href="#" class="btn btn-default fileinput-exists"
                       data-dismiss="fileinput">Sterge</a>
                </div>
            </div>
        </div>
        <div class="form-group form-md-line-input form-md-floating-label">
            <div>
                <label for="appbundle_house_image_file">Steag casa</label>
            </div>
            <div class="fileinput fileinput-new" data-provides="fileinput">
                <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                    <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt=""/>
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail"
                     style="max-width: 200px; max-height: 150px;">
                </div>
                <div>
                                <span class="btn btn-default btn-file">
                                    <span class="fileinput-new">Selectare imagine</span>
                                    <span class="fileinput-exists">Schimba</span>
                                    {{ form_widget(form.flag.file) }}
                                </span>
                    <a href="#" class="btn btn-default fileinput-exists"
                       data-dismiss="fileinput">Sterge</a>
                </div>
            </div>
        </div>
        <div class="form-group form-md-line-input form-md-floating-label">
            <div>
                <label for="appbundle_house_image_file">Ramă telefon</label>
            </div>
            <div class="fileinput fileinput-new" data-provides="fileinput">
                <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                    <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt=""/>
                </div>
                <div class="fileinput-preview fileinput-exists thumbnail"
                     style="max-width: 200px; max-height: 150px;">
                </div>
                <div>
                                <span class="btn btn-default btn-file">
                                    <span class="fileinput-new">Selectare imagine</span>
                                    <span class="fileinput-exists">Schimba</span>
                                    {{ form_widget(form.frame.file) }}
                                </span>
                    <a href="#" class="btn btn-default fileinput-exists"
                       data-dismiss="fileinput">Sterge</a>
                </div>
            </div>
        </div>
        {{ form_widget(form._token) }}
        <input class="btn btn-primary" type="submit" value="Salveaza"/>
    </form>
{% endblock %}
