{% extends 'AppBundle::layout_front.html.twig' %}

{% block title %}{{ parent() }} Alege casa preferata{% endblock %}

{% block content %}
    <style>
        body {
            margin: 0;
            background-image: url({{ asset('assets/frontend/mobile-bg.png') }});
            height: 100vh;
            background-size: cover;
        }
    </style>

    <section class="enrollment">
        <div class="container">
            <div class="headLogos">
                <img src="{{ asset('assets/frontend/samsung-logo.png') }}" alt="" style="float: left;">
                <img src="{{ asset('assets/frontend/s8-qledtv.png') }}" alt="" style="float: right;">
            </div>

            <div class="header">
                <h1>completeaza campurile de
                    mai jos pentru a primi imaginea
                    finala la adresa ta de email</h1>
            </div>

            <form id="floating-label" class="validate" role="form" enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <label class="control-label" for="name">Nume <small>*</small></label>
                    {{ form_widget(enrollmentForm.lastName) }}
                </div>
                <div class="form-group">
                    <label class="control-label" for="name">Prenume <small>*</small></label>
                    {{ form_widget(enrollmentForm.firstName) }}
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">Email <small>*</small></label>
                    {{ form_widget(enrollmentForm.email) }}
                </div>
                <div class="form-group">
                    <label class="control-label" for="phone">Telefon <small>*</small></label>
                    {{ form_widget(enrollmentForm.phone) }}
                </div>
                <div class="checkbox">
                    <label>
                        {{ form_widget(enrollmentForm.terms) }}
                        Sunt de acord cu termenii si conditiile campaniei
                    </label>
                </div>
                <button type="submit" class="btn btn-default">Trimite</button>
                {{ form_widget(enrollmentForm.house) }}
                {{ form_widget(enrollmentForm.pictureName) }}
                {{ form_widget(enrollmentForm._token) }}
            </form>

            {{ form_errors(enrollmentForm) }}

        </div>

        <div class="footer">
            <div class="item">
                <img src="{{ asset('assets/frontend/hbo.png') }}" alt="">
            </div>
            <div class="copy">
                <span>&copy; 2017 Home Box Office, Inc. All rights reserved.</span>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
    <script src="{{ asset('assets/frontend/js/main.js') }}"></script>

    <script>
        $(document).ready(function () {
            $('#app_enrollment_house').val("{{ selectedHouse }}")
            $('#app_enrollment_pictureName').val("{{ generatedPhoto }}")
        })
    </script>

    <script>

        $.validator.addClassRules("email", {
            email: true,
            remote: {
                url: "{{ path('check_email') }}",
                type: "post",
                data: {
                    email: function () {
                        return $("#app_enrollment_email").val();
                    }
                }
            }
        });

        $.validator.addClassRules("phoneRO", {
            remote: {
                url: "{{ path('check_phone') }}",
                type: "post",
                data: {
                    phone: function () {
                        return $("#app_enrollment_phone").val();
                    }
                }
            }
        });

        $("form.validate").validate({});

        $('.form-control').on('focus blur', function (e) {
            $(this).parents('.form-group').toggleClass('focused', (e.type === 'focus' || this.value.length > 0));
        }).trigger('blur');
    </script>
{% endblock %}