{% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
        {% if type == 'error' %}
            {{ message }}
        {% endif %}
          <div class="flash-{{type}}">{{message}}</div>
    {% endfor %}
{% endfor %}