{% extends 'AppBundle::layout_front.html.twig' %}

{% block title %}{{ parent() }} Alege casa preferata{% endblock %}

{% block content %}
    <style>
        body {
            margin: 0;
            background-image: url({{ asset('assets/frontend/mobile-bg.png') }});
            height: 100vh;
            background-size: cover;
        }
    </style>

    <section id="selectHouse">
        <div class="headLogos">
            <img src="{{ asset('assets/frontend/samsung-logo.png') }}" alt="" style="float: left;">
            <img src="{{ asset('assets/frontend/s8-qledtv.png') }}" alt="" style="float: right;">
        </div>
        {# selectHouse HEADER #}
        <div class="header">
            <h1>Alege casa preferata</h1>
        </div>

        {# selectHouse HOUSES SLIDER #}
        <div class="houseSlider owl-carousel owl-theme">
            {% for house in houses %}
                <div class="item" id="{{ house.id }}">
                    <img src="{{ vich_uploader_asset(house, 'picture') }}"/>
                </div>
            {% endfor %}
        </div>

        {# selectHouse NEXT STEP #}
        <div class="nextStep">
            <form action="{{ path('take_picture') }}" method="POST">
                <input type="hidden" id="selectedHouse" name="selectedHouse">
                <button class="primary" type="submit">Pasul urmator</button>
            </form>
        </div>

        {# selectHouse FOOTER #}
        <div class="footer">
            <div class="item">
                <img src="{{ asset('assets/frontend/hbo.png') }}" alt="">
            </div>
            <div class="copy">
                <span>&copy; 2017 Home Box Office, Inc. All rights reserved.</span>
            </div>
        </div>
    </section>

{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>

    <script>
        $(document).ready(function () {
            {#setTimeout(function(){#}
            {#$('body').css('background-image', 'url({{ asset('assets/frontend/girl.jpg') }})');#}
            {#}, 1000);#}

            $('.houseSlider').owlCarousel({
                loop: true,
                margin: 50,
                items: 1,
                responsiveClass: true,
                stagePadding: 50,
                dots: true,
                nav: true,
                navText: [
                    "<i class=\"fa fa-chevron-circle-left\" aria-hidden=\"true\"></i>",
                    "<i class=\"fa fa-chevron-circle-right\" aria-hidden=\"true\"></i>"
                ],
                responsive: {
                    0: {
                        items: 1,
                        dots: true,
                        nav: true
                    },
                    600: {
                        items: 1,
                        nav: true,
                        dots: true
                    },
                    1000: {
                        items: 1,
                        nav: true,
                        dots: true,
                        loop: true
                    }
                }
            })
        });

        // jQuery method on
        $('.houseSlider').on('changed.owl.carousel', function (property) {
            var current = property.item.index;
            var src = $(property.target).find(".owl-item").eq(current).find(".item").attr('id');
            $('#selectedHouse').val(src);
        });
    </script>
{% endblock %}