{% extends 'AppBundle::layout_front.html.twig' %}

{% block title %}{{ parent() }} Salveaza fotografia{% endblock %}

{% block content %}
    <style>
        body {
            margin: 0;
            background-image: url({{ asset('assets/frontend/mobile-bg.png') }});
            height: 100vh;
            background-position: center;
        }

        #image {
            cursor: pointer;
        }

        #container {
            height: 95%;
            overflow: hidden;
            position: relative;
            margin: 0 auto;
            padding-left: 6px;
            padding-top: 5px;

            /* Border radius */
            -webkit-border-top-left-radius: 30px;
            -webkit-border-top-right-radius: 30px;
            -webkit-border-bottom-right-radius: 30px;
            -webkit-border-bottom-left-radius: 30px;
            -moz-border-radius-topleft: 30px;
            -moz-border-radius-topright: 30px;
            -moz-border-radius-bottomright: 30px;
            -moz-border-radius-bottomleft: 30px;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            border-bottom-left-radius: 30px;
        }

        #viewport {
            cursor: move;
            position: absolute;
            left: 0;
            right: 0;
            pointer-events: none;
            top: 0;
            text-align: center;
        }

        .frameWrapper {
            position: relative;
            margin: 0 auto;
            height: 80vh;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin-top: 15px;
        }

    </style>
    <section id="savePicture">
        <div class="headLogos">
            <img src="{{ asset('assets/frontend/samsung-logo.png') }}" alt="" style="float: left;">
            <img src="{{ asset('assets/frontend/s8-qledtv.png') }}" alt="" style="float: right;">
        </div>
        <div class="frameWrapper">
            <div id="container">
                <div id="frame">
                    <img id="image" src="{{ asset('upload/' ~ uploadedPhoto) }}" alt="" style="margin: 0 auto; display: block; height: 100%;">
                    {#<img id="image" src="{{ asset('upload/5937de3bdd3c7.jpg') }}" alt=""#}
                         {#style="margin: 0 auto; display: block; height: 100%;">#}
                </div>
            </div>
            <div id="viewport"
                 style="height: 95%;">
                <img style="height: 100%;" src="{{ vich_uploader_asset(selectedHouse, 'frame') }}" alt="">
            </div>
        </div>

        {# savePicture BUTTONS #}
        <div class="buttons" data-html2canvas-ignore="true">
            <div class="item">
                <a href="{{ path('homepage') }}" class="primary">Schimba casa</a>
            </div>
            <div class="item">
                <button class="primary" id="final">Pasul urmator</button>
            </div>
        </div>

        {# savePicture FOOTER #}
        <div class="footer">
            <div class="item">
                <img src="{{ asset('assets/frontend/hbo.png') }}" alt="">
            </div>
            <div class="copy">
                <span>&copy; 2017 Home Box Office, Inc. All rights reserved.</span>
            </div>
        </div>

        <form id="finalImageForm" action="{{ path('enrollment') }}" enctype="multipart/form-data" method="POST">
            <input type="hidden" name="finalImageName" id="finalImageName">
            <input type="hidden" name="selectedHouse" value="{{ selectedHouse.id }}">
        </form>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/frontend/js/html2canvas.js') }}" type="text/javascript"></script>
    <script>
        $('#frame img').draggable({
            axis: 'x',
            stop: function (ev, ui) {
                var hel = ui.helper, pos = ui.position;
                //horizontal
                var h = -(hel.outerHeight() - $(hel).parent().outerHeight());
                if (pos.top >= 0) {
                    hel.animate({top: 0});
                } else if (pos.top <= h) {
                    hel.animate({top: h});
                }
                // vertical
                var v = -(hel.outerWidth() - $(hel).parent().outerWidth());
                if (pos.left >= 0) {
                    hel.animate({left: 0});
                } else if (pos.left <= v) {
                    hel.animate({left: v});
                }
            }
        });

        $('#container').width($('#viewport img').width() - 13)
        $('#container').height($('#viewport img').height() - 25)

        $('#frame').width($('#viewport img').width())
        $('#frame').height($('#viewport img').height() - 20)
        $(window).on('resize', function () {
            $('#container').width($('#viewport img').width() - 13)
            $('#container').height($('#viewport img').height() - 25)

            $('#frame').width($('#viewport img').width())
            $('#frame').height($('#viewport img').height() - 20)
        });

        $("#final").click(function (e) {
            e.preventDefault();

            html2canvas($("body"), {
                onrendered: function (canvas) {
                    theCanvas = canvas;
                    var img = canvas.toDataURL("image/jpeg");

                    $.ajax({
                        url: "{{ path('upload_final') }}",
                        type: 'POST',
                        data: {
                            image: img
                        },
                        dataType: 'json',
                        success: function (data) {
                            if (data.success) {
                                $('#finalImageName').val(data.fileName);
                                $('#finalImageForm').submit();
                            }
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}
