{% extends 'AppBundle::layout_front.html.twig' %}

{% block title %}{{ parent() }} Incarca poza{% endblock %}

{% block content %}
    <style>
        body {
            height: 100vh;
            margin: 0 auto;
            background-image: url({{ asset('assets/frontend/mobile-bg.png') }});
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            transition: background-image 1s ease;
        }
    </style>

    <section id="takePicture">
        <div class="headLogos">
            <img src="{{ asset('assets/frontend/samsung-logo.png') }}" alt="" style="float: left;">
            <img src="{{ asset('assets/frontend/s8-qledtv.png') }}" alt="" style="float: right;">
            <div class="clearer"></div>
        </div>
        {# takePicture FLAG #}
        <div class="flag">
            <img src="{{ vich_uploader_asset(selectedHouse, 'flag') }}" alt="">
        </div>

        {# takePicture HEADER #}
        <div class="header">
            <h1>Acum ca ai ales casa esti pregatit sa treci la pasul urmator?</h1>
        </div>

        {# takePicture NEXT STEP #}
        <div class="nextStep">
            <label for="upload">
                <span class="submitPicture" aria-hidden="true">Incarca poza</span>
                <input name="upload" type="file" id="upload" accept="image/*;capture=camera" style="display: none;">
            </label>
            <form enctype="multipart/form-data" id="uploadPictureForm" action="{{ path('save_picture') }}"
                  method="POST">
                <input type="hidden" id="selectedHouse" name="selectedHouse" value="{{ selectedHouse.id }}">
                <input name="uploadedFileName" type="hidden" id="uploadedFileName">
            </form>
        </div>

        <div class="footer">
            <div class="item">
                <img src="{{ asset('assets/frontend/hbo.png') }}" alt="">
            </div>
            <div class="copy">
                <span>&copy; 2017 Home Box Office, Inc. All rights reserved.</span>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $("#upload").change(function (e) {

            var fileInput = document.getElementById('upload');
            var file = fileInput.files[0];
            var formData = new FormData();
            formData.append('file', file);

            var xhr = new XMLHttpRequest();
            // Add any event handlers here...
            xhr.open('POST', '{{ path('upload') }}', true);
            xhr.send(formData);

            xhr.addEventListener("load", function () {
                if (JSON.parse(this.responseText).fileUploaded === false) {
                    alert('Te rugam sa incarci o imagine valida.')
                } else if (JSON.parse(this.responseText).fileUploaded === true) {
                    var fileName = JSON.parse(this.responseText).name;
                    $('#uploadedFileName').val(fileName);
                    $('#uploadPictureForm').submit();
                }
            })
        });
    </script>
{% endblock %}